{% extends "../sub_base.html" %}
{% block title %}Zaregistrovat se{% endblock %}
{% block sub_content %}

<form class="account-form px-4" action="." method="post">
  {% csrf_token %}
  <h3 class="mb-4">Zaregistrovat se</h3>
  {% if form.errors %}
  <p>Please correct the following errors:</p>
  {% for field in form %}
  {% if field.errors %}
  <div class="alert alert-primary" role="alert">
    {{ field.label }}: {{ field.errors|striptags }}
  </div>
  {% endif %}
  {% endfor %}
  {% endif %}
  <label>{{ form.user_name.label }}
    <span class="text-muted small">*</span>
  </label>
  {{ form.user_name }}
  <label>{{ form.email.label}}
    <span class="text-muted small">*</span>
  </label>
  {{ form.email }}
  <label>{{ form.password.label}}
    <span class="text-muted small">* (%rules%)</span>
  </label>
  {{ form.password }}
  <label>{{ form.password2.label}}
    <span class="text-muted small">*</span>
  </label>
  {{ form.password2 }}

  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw500 w-100" type="submit">Zaregistrovat se</button>
  <div class="text-center pb-3">
    <a href="{% url "account:login" %}">Již máte účet?</a>
  </div>
</form>

{% endblock %}