{% extends "../sub_base.html" %}
{% block title %}Přidat/upravit adresu{% endblock %}

{% block sub_content %}

  <h1 class="h3">Přidat nebo upravit adresu</h1>
  <div>Přidejte nebo upravte vaši doručovací adresu</div>
  <hr />
  <form name="address_form" class="account-form" method="post" enctype="multipart/form-data">
    {% if form.errors %}
    <div class="alert alert-primary" role="alert">
      Chyba: Vyplňte všechny pole!
    </div>
    {% endif %}
    {% csrf_token %}
    <p class="small fw-bold mb-0">Celé jméno</p>
    {{ form.full_name }}
    <p class="small fw-bold mb-0">Telefon</p>
    {{ form.phone }}
    <p class="small fw-bold mb-0">Město</p>
    {{ form.town_city }}
    <p class="small fw-bold mb-0">Ulice</p>
    {{ form.address_line }}
    <p class="small fw-bold mb-0">Číslo popisné</p>
    {{ form.address_line2 }}
    <p class="small fw-bold mb-0">PSČ</p>
    {{ form.postcode }}
    <button class="btn btn-primary btn-block py-2 mb-4 mt-4 fw-bold w-100" type="button" value="Submit" onclick="submitForm()">
    Uložit
    </button>
  </form>



<script> 
function submitForm() {
   var form = document.getElementsByName('address_form')[0];
   form.submit(); // Submit the form
   form.reset();  // Reset all form data
   return false; // Prevent page refresh
}
</script>
{% endblock %}