{% extends "../sub_base.html" %}
{% block title %}Edit Profile{% endblock %}
{% block sub_content %}

<form class="account-form px-4" method="post" enctype="multipart/form-data">
  <div class="col-12 d-flex justify-content-between">
    <h3>Upravit účet</h3>
    <div><a href="{% url "account:dashboard" %}">Zpět</a></div>
  </div>
  <br>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">
    Error: Please try again!
  </div>
  {% endif %}
  {% csrf_token %}
  <label class="small font-weight-bold">{{ user_form.email.label}}</label>
  {{ user_form.email }}
  <label class="small font-weight-bold">{{ user_form.user_name.label}}</label>
  {{ user_form.user_name }}
  <label class="small font-weight-bold">{{ user_form.first_name.label}}</label>
  {{ user_form.first_name }}
  <button class="btn btn-primary btn-block py-2 mb-4 fw-bold w-100" type="submit" value="Save changes">Uložit
    změny</button>
  {% if user_form.is_valid %}
  <div class="alert alert-primary" role="alert">
    Účet úspěšně upraven!
  </div>
  {% endif %}
  <hr class="mb-3">
</form>
<form class="account-form px-4" action="{% url "account:delete_user" %}" method="post">
  {% csrf_token %}
  <p class=" h3 pt-4 font-weight-bold">Smazat účet</p>
  <p>Are you sure you want to delete your account?</p>
  <button type="submit" role="button" class="btn btn-danger btn-block py-2 mb-4 fw-bold w-100">Delete</button>
</form>

{% endblock %}