{% extends "../sub_base.html" %}
{% block title %}Resetovat heslo{% endblock %}
{% block sub_content %}

{% if request.user.is_authenticated %}
<script>
  window.location.href = '{% url "account:dashboard" %}';
</script>
{% endif %}

<form class="account-form px-4" method="post" action="{% url 'account:pwdreset' %}">
  <p class="h3 mb-4">Zapomněli jste heslo?</p>
  <p>Zadejte prosím Váš e-mail, který jste použili k vytvoření účtu. My Vám zašleme odkaz na obnovení Vašeho hesla.</p>
  {% if form.errors %}
  <div class="alert alert-primary" role="alert">
    Error: Please try again!
  </div>
  {% endif %}
  {% csrf_token %}
  <label class="small font-weight-bold">{{ form.email.label}}</label>
  {{ form.email }}
  <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit" value="Send e-mail">Obnovit
    heslo</button>
  <div class="text-center pb-3">
    <a href="{% url "account:login" %}">Zrušit</a>
  </div>
</form>

{% endblock %}